@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Barlow';
  margin: 0;
  padding: 0;
}

body, #root{
  background: radial-gradient(#204388, #0e2042);
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

#root{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: space-between;
  padding: 24px;
}

@media (orientation: portrait) {
  #root{
    gap: 24px;
    height: auto;
    min-height: 100vh;
    min-width: 100vw;
  }
}
